.custom-header{
    background-color: #131921;
}
.custom-img{
    height: 520px;

}
.card-img{
    height: 200px;
}
footer{
    background-color: #131921;
    color: white !important;
}
.card{
    overflow: hidden;
}
.card img{
    transition: all 3s;
}

    

.card:hover img{
    
    transform:scale(1.5);
    overflow: hidden;
}
.deals-type{
   margin: 0 !important;
   padding: 0 !important;
}
.deals-type a{
    color: #4fabd1;
}
.li a{
    color: #4fabd1;
}
